@page
@model SimpleUsage.Pages.DataDemoModel
@{
    ViewData["Title"] = "DataDemo";
}

<h1>DataDemo</h1>

<p>
    <ul>
        @foreach (var person in Model.People)
        {
            <li>@person.FirstName @person.LastName </li>
        }
    </ul>
</p>